In [ ]:
print("hellow World")

hellow World

In [ ]:
x=5
print(x)
x=6.5
print(x)
y="hi! how are yoy?"
print(y)

5
6.5
hi! how are yoy?

In [ ]:
a,b,c=2,9,5
print(a)
print(b,c)

2
9 5

In [ ]:
'''
This is a
multi line 
comments '''
print("I am awesome")

I am awesome

In [ ]:
x=int(5)
y=float(5)
z=str(5)

print(type(x),x)
print(type(y),y)
print(type(z),z)

<class 'int'> 5
<class 'float'> 5.0
<class 'str'> 5

In [ ]:
totalBillAmount=500 
print(totalBillAmount)

TotalBillAmount=500
print(TotalBillAmount)

Total_bill_amount=500
print(Total_bill_amount)

500
500
500

In [ ]:
flage=True
print(flage)

True

In [ ]:
t=2+3j
w=-7j
print(w)
print(t)

(-0-7j)
(2+3j)

In [ ]:
import random
print(random.randrange(2500,2711))

2556

In [ ]:
p=3.14
def area():
  r=int(input())
  print(r*r*p)
area()

5
78.5

In [ ]:
s="My name is Moulik surana"
print(s[:7])
print(s[5:13])
print(s[-10:-3])

My name
me is Mo
lik sur
['My name is Moulik surana']

In [ ]:
s="hi!,how are you?"
print(s.split(","))
print(s.replace("h","H"))

['hi!', 'how are you?']
Hi!,How are you?

In [ ]:
quantity = 15
itemno = 8057
price = 1875
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 15 pieces of item 8057 for 1875 dollars.

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
print(5**2)
a=10
print(5<<3)
print(5>>2)
print(6&2)
print(a>5 or a<0)
print(a>5 and a<0)

25
40
1
2
True
False

In [ ]:
list1=["a","b","c","a","e"]
print (type(list1),list1)
print(len(list1))
print(list1[2:5])
print(list1[-6:-3])
print(list1[1])

<class 'list'> ['a', 'b', 'c', 'a', 'e']
5
['c', 'a', 'e']
['a', 'b']
b

In [ ]:
list1=["a","b","c","a","e"]
list1.insert(1,'z')
list1.pop(2)
print (list1)

['a', 'z', 'c', 'a', 'e']

In [ ]:
x=("a","b","c","a","e")
print(x)
y = list(x)
y[1] = "m"
x = tuple(y)

print(x)

('a', 'b', 'c', 'a', 'e')
('a', 'm', 'c', 'a', 'e')

In [ ]:
set1={"a","b","c","e"}
print(set1)

{'e', 'c', 'b', 'a'}

In [ ]:
Dict = {'Name': 'moulik', "Surname":"Surana"}
Dict['marks']= [9,7,6.5 ,8, 4]
Dict["marks"].append(10)

print(Dict)

{'Name': 'moulik', 'Surname': 'Surana', 'marks': [9, 7, 6.5, 8, 4, 10]}

In [ ]:
colours=["red","blue","green","yellow","white","black"]
x=colours[1]
colours[0]="pink";
print(x)
for y in colours:
  print(y)

blue
pink
blue
green
yellow
white
black